/* variables */
$marron__oscuro: #261210;
$marron__claro: #592520;
$marron__transparente: rgba(89, 37, 32, 0.15);
$bordeMarron__transparente: rgba(89, 37, 32, 0.3);
$blanco: #F2F2EB;
$blanco__transparente: rgba(255, 255, 255, 0.15); 
$bordeBlanco__transparente: 1px solid rgba(255, 255, 255, 0.3);
$naranja__claro: #FFA053;
$naranja__oscuro: #FF781E;
